**/.DS_Store
**/._.DS_Store
/target/
.idea/**/workspace.xml
### Eclipse template

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project